//=======================================================
//===== Variables
//=======================================================

$color-black: #121212;
$color-white: #F0ECF9;

$color-primary:    #f2e0c0;
$color-secondary:  #633636;
$color-tertiary:   #B07C7A;
$color-background: #121212;

//=======================================================
//===== Styles
//=======================================================

//----------------------------------
// Common
//----------------------------------

* {
  all: unset;
}

.tile {
  background-color: $color-background;
  border-color: $color-primary;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px 20px;
}


//----------------------------------
// Control Center
//----------------------------------

.control-center {
  font-size: 35px;

  .btn {
    color: $color-tertiary;
    margin: 0 5px;
  }

  .clock {
    font-size: 1.3em;

    .primary {
      color: $color-primary;
    }

    .secondary {
      color: $color-tertiary;
    }
  }

  .calendar {
    .primary {
      color: $color-primary;
    }

    .secondary {
      font-size: 0.7em;
      color: $color-tertiary;
    }
  }

  .metric-graph {
    label {
      font-size: 0.7em;
      color: $color-primary;
    }

    circular-progress {
      color: $color-primary;
      background-color: $color-secondary;

      label {
        font-size: 1.2em;
        color: $color-primary;
      }
    }
  }

  .avatar-container {
    padding: 0;
  }

  .avatar {
    margin: 0;
    background-image: url("/home/cr0xd/main/personal/images/avatars/avatar.png");
    min-height: 200px;
    background-position: center;
  }
}

//----------------------------------
// Utils
//----------------------------------

.utils {
  .icon {
    color: $color-primary;
  }

  .value {
    color: $color-tertiary;
    font-size: 0.75em;
  }
}

//----------------------------------
// Notification Center
//----------------------------------

.notification-center {
  font-size: 35px;
  color: $color-primary;
}

.notification {
  font-size: 35px;
  color: $color-primary;

  background-color: $color-primary;
  border: 2px solid;
  border-color: $color-primary;
  border-radius: 10px;

  .notification-icon {
    border-right: 2px solid;
    border-color: $color-secondary;
    font-size: 0.7em;
    min-width: 50px;
    color: $color-secondary;
  }

  .notification-time {
    font-size: 0.35em;
    min-width: 30px;
    color: $color-secondary;
    margin: 10px 10px 0 0;
  }

  .notification-btn {
    font-size: 0.7em;
    min-width: 30px;
    color: $color-secondary;
    margin: 0 10px 0 0;
  }

  .notification-header {
    font-size: 0.40em;
    color: $color-tertiary;
    margin: 10px 10px 0px 10px;
    min-width: 250px;
  }

  .notification-body {
    font-size: 0.40em;
    color: $color-secondary;
    margin: 10px 10px;
  }
}

//----------------------------------
// Dock
//----------------------------------

.dock {
  padding: 5px 20px;
  background-color: $color-background;

  .workspaces-start {
    font-size: 1.0em;
    color: $color-secondary;
    background-color: $color-background;
  }

  .workspaces-end {
    font-size: 1.0em;
    color: $color-secondary;
    background-color: $color-background;
  }

  .workspaces {
    background-color: $color-secondary;
    padding: 0 10px;

    box {
      margin: 0 5px;
    }

    .active {
      font-size: 1.0em;
      color: $color-primary;
    }

    .inactive {
      font-size: 1.0em;
      color: $color-primary;
    }
  }
}
